<style>

html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

:root {
    --rb-blue: rgb(0, 51, 153);
    --rb-white: #ffffff;
    --rb-accent: rgba(255, 255, 255, 0.1);
}

#top-banner {
	background-color: var(--rb-blue);
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 5px;
}

#header-placeholder {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
    width: 100%;
}

header {
	position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;	
    background-color: var(--rb-blue) !important;
    width: 100% !important;
    margin-top: 0 !important;
    padding: 5px 0 0 0 !important; 
	padding-bottom: 1px;
    display: block !important;
    box-sizing: border-box !important;
	overflow: hidden !important;
}

h1 {
    color: white !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 4vw, 2.25rem) !important;
    white-space: nowrap; 
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1;
    margin: 0 auto 15px auto !important;
	margin-bottom: 3px;
    max-width: 95%;
    text-align: center;
}

.button-container {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
}

button {
    display: inline-block;
    margin: 8px 8px 2px 8px;
	margin-bottom: 2px;
    padding: 8px 16px;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background: var(--rb-blue) !important;
    transition: all 0.3s ease;
	border-radius: 8px;
    border: none !important;
}

button:hover {
    background: white !important;
    color: rgb(0, 51, 153) !important;
}

body { 
    margin: 0; 
    padding: 0;
    font-family: verdana, tahoma, helvetica, sans-serif;
}

p {
    text-align: left;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

p.text {
    text-indent: 40px;
}

.carousel-container {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
	aspect-ratio: 5 / 4;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
	flex: 0 0 100%;
    width: 100%;
    height: auto;
    display: block;
	object-fit: cover;
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 51, 153, 0.6);
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 24px;
    transition: 0.3s;
    z-index: 10;
}

#nextBtn { 
	right: 0; 
	border-radius: 5px 0 0 5px; 
}
#prevBtn { 
	left: 0; 
	border-radius: 0 5px 5px 0;
}

#prevBtn:hover, #nextBtn:hover {
    background: rgba(0, 51, 153, 1);
}
</style>
